.question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-wrapper {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(245, 243, 240);
  padding: 0 20px;
}
.question-text {
  font-size: 1.9rem;
  font-weight: 400;
}
.answer {
  font-size: 1.1rem;
}
.hidden {
  height: 0;
  display: none;
}
.active {
  width: 50vw;
  padding: 10px 20px;
  background-color: rgb(245, 243, 240);
  height: 40px;
  display: flex;
  align-items: center;
}
