.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  text-align: center;
}

.heading {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: 400;
}
